html {
    height: 100%;
}

body { position:absolute; top:0; bottom:0; right:0; left:0; }

.clpadding{
    padding: 20px;
}

.menu{
    border: 0.1px silver solid;
}
a.menu-box{
    font-size: 16px;
    margin-right: -0.5%;
    text-decoration: none;
    border-right: 0.1px silver solid;
}

.liProjeto {
    margin-left: 30px;
    padding: 5px;
}

.sub {
    text-decoration: none;
}