.clpadding{
    padding: 20px;
}

.menu{
    border: 0.1px silver solid;
}
a.menu-box{
    font-size: 16px;
    margin-right: -0.5%;
    text-decoration: none;
    border-right: 0.1px silver solid;
}

.bloco {
    margin-top: 10px;
    list-style: none;
    font-size: 18px;
}

.liProjeto {
    margin-left: 30px;
    padding: 5px;
}

.sub {
    text-decoration: none;
}