/* esionascimento */
#container {
  margin: 0 auto;
  width: 100%;
  background: #fff;
}

#header {
  background: #ccc;
  padding: 20px;
}

#header h1 {
  margin: 0;
}

#navigation {
  float: left;
  width: 100%;
  background: #333;
}

#navigation ul {
  margin: 0;
  padding: 0;
}

#navigation ul li {
  list-style-type: none;
  display: inline;
}

#navigation li a {
  display: block;
  float: left;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #fff;
}

#navigation li a:hover {
  background: #383;
}

#content-container {
  float: left;
  width: 100%;
  background: #FFF;
}

#content {
  clear: left;
  float: left;
  width: 60%;
  padding: 20px 0;
  margin: 0 0 0 4%;
  display: inline;
}

#content h2 {
  margin: 0;
}

#aside {
  float: right;
  width: 33%;
  padding: 20px 0;
  margin: 0 3% 0 0;
  display: inline;
}

#aside h3 {
  margin: 0;
}

#footer {
  clear: left;
  background: #ccc;
  text-align: right;
  padding: 20px;
  height: 1%;
}
@media print {
  #header, #navigation, #footer {
    display: none;
  }
  #content-container {
  display: flex;
  flex-direction: column;
  }
  img {
    width: 400px;
    height: 400px;
  }
  #content {
    width: 100%;
  }
  p {
    font-size: 18px;
  }
}

@media screen and (max-width: 240px) {
  #aside {
    display: none;
  }
  body {
    padding: 0px;
    margin: 10px;
  }
  h1 {
    font-size: 14px;
  }
  p {
    font-size: 8px;
  }
  img {
    width: 100%;
  }
  #content {
    clear: left;
    float: left;
    width: 90%;
    padding: 20px 0;
    margin: 0 0 0 4%;
    display: inline;
  }
  #header {
    display: flex;
    position: fixed;
    width: 80%;
  }
  #navigation {
    margin-top: 65px;
    font-size: 14px;
  }
  #navigation > ul{
    display: flex;
    flex-direction: column;
  }
  #navigation > ul > li > a {
    border-right: none;
  }
  #footer { 
    font-size: 10px;
    max-width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 241px) and (max-width: 360px) {
  #aside {
    display: none;
  }
  body {
    padding: 0px;
    margin: 10px;
  }
  img {
    width: 100%;
  }
  #content {
    clear: left;
    float: left;
    width: 95%;
    padding: 20px 0;
    margin: 0 0 0 4%;
    display: inline;
  }
  #header {
    display: flex;
    position: fixed;
    width: 80%;
  }
  #navigation {
    margin-top: 90px;
  }
  #navigation > ul{
    display: flex;
    flex-direction: column;
  }
  #navigation > ul > li > a {
    border-right: none;
  }
  #footer { 
    max-width: 100%;
    text-align: center;
  }
}